<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lj.gps.biz.mapper.RoleDeviceMapper" >
  <resultMap id="BaseResultMap" type="com.lj.gps.biz.entity.RoleDevice" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ROLEID" property="roleid" jdbcType="INTEGER" />
    <result column="SN" property="sn" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROLEID, SN
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from B_ROLE_DEVICE
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from B_ROLE_DEVICE
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lj.gps.biz.entity.RoleDevice" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into B_ROLE_DEVICE (ROLEID, SN)
    values (#{roleid,jdbcType=INTEGER}, #{sn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lj.gps.biz.entity.RoleDevice" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into B_ROLE_DEVICE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        ROLEID,
      </if>
      <if test="sn != null" >
        SN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lj.gps.biz.entity.RoleDevice" >
    update B_ROLE_DEVICE
    <set >
      <if test="roleid != null" >
        ROLEID = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="sn != null" >
        SN = #{sn,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lj.gps.biz.entity.RoleDevice" >
    update B_ROLE_DEVICE
    set ROLEID = #{roleid,jdbcType=INTEGER},
      SN = #{sn,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>