<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lj.gps.biz.mapper.RtGpsMapper" >
  <resultMap id="BaseResultMap" type="com.lj.gps.biz.entity.RtGps" >
    <id column="SN" property="sn" jdbcType="VARCHAR" />
    <result column="VID" property="vid" jdbcType="INTEGER" />
    <result column="WE" property="we" jdbcType="INTEGER" />
    <result column="LONGITUDE" property="longitude" jdbcType="INTEGER" />
    <result column="NS" property="ns" jdbcType="INTEGER" />
    <result column="LATITUDE" property="latitude" jdbcType="INTEGER" />
    <result column="GPSTIME" property="gpstime" jdbcType="TIMESTAMP" />
    <result column="ALTITUDE" property="altitude" jdbcType="INTEGER" />
    <result column="SPEED" property="speed" jdbcType="INTEGER" />
    <result column="DIRECT" property="direct" jdbcType="INTEGER" />
    <result column="NUMBER" property="number" jdbcType="INTEGER" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    SN, VID, WE, LONGITUDE, NS, LATITUDE, GPSTIME, ALTITUDE, SPEED, DIRECT, NUMBER, CREATETIME, 
    UPDATETIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_RT_GPS
    where SN = #{sn,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_RT_GPS
    where SN = #{sn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lj.gps.biz.entity.RtGps" >
    <selectKey resultType="java.lang.Integer" keyProperty="vid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into T_RT_GPS (SN, WE, LONGITUDE, 
      NS, LATITUDE, GPSTIME, 
      ALTITUDE, SPEED, DIRECT, 
      NUMBER, CREATETIME, UPDATETIME
      )
    values (#{sn,jdbcType=VARCHAR}, #{we,jdbcType=INTEGER}, #{longitude,jdbcType=INTEGER}, 
      #{ns,jdbcType=INTEGER}, #{latitude,jdbcType=INTEGER}, #{gpstime,jdbcType=TIMESTAMP}, 
      #{altitude,jdbcType=INTEGER}, #{speed,jdbcType=INTEGER}, #{direct,jdbcType=INTEGER}, 
      #{number,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lj.gps.biz.entity.RtGps" >
    <selectKey resultType="java.lang.Integer" keyProperty="vid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into T_RT_GPS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sn != null" >
        SN,
      </if>
      <if test="we != null" >
        WE,
      </if>
      <if test="longitude != null" >
        LONGITUDE,
      </if>
      <if test="ns != null" >
        NS,
      </if>
      <if test="latitude != null" >
        LATITUDE,
      </if>
      <if test="gpstime != null" >
        GPSTIME,
      </if>
      <if test="altitude != null" >
        ALTITUDE,
      </if>
      <if test="speed != null" >
        SPEED,
      </if>
      <if test="direct != null" >
        DIRECT,
      </if>
      <if test="number != null" >
        NUMBER,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="we != null" >
        #{we,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=INTEGER},
      </if>
      <if test="ns != null" >
        #{ns,jdbcType=INTEGER},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=INTEGER},
      </if>
      <if test="gpstime != null" >
        #{gpstime,jdbcType=TIMESTAMP},
      </if>
      <if test="altitude != null" >
        #{altitude,jdbcType=INTEGER},
      </if>
      <if test="speed != null" >
        #{speed,jdbcType=INTEGER},
      </if>
      <if test="direct != null" >
        #{direct,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lj.gps.biz.entity.RtGps" >
    update T_RT_GPS
    <set >
      <if test="vid != null" >
        VID = #{vid,jdbcType=INTEGER},
      </if>
      <if test="we != null" >
        WE = #{we,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        LONGITUDE = #{longitude,jdbcType=INTEGER},
      </if>
      <if test="ns != null" >
        NS = #{ns,jdbcType=INTEGER},
      </if>
      <if test="latitude != null" >
        LATITUDE = #{latitude,jdbcType=INTEGER},
      </if>
      <if test="gpstime != null" >
        GPSTIME = #{gpstime,jdbcType=TIMESTAMP},
      </if>
      <if test="altitude != null" >
        ALTITUDE = #{altitude,jdbcType=INTEGER},
      </if>
      <if test="speed != null" >
        SPEED = #{speed,jdbcType=INTEGER},
      </if>
      <if test="direct != null" >
        DIRECT = #{direct,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        NUMBER = #{number,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SN = #{sn,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lj.gps.biz.entity.RtGps" >
    update T_RT_GPS
    set VID = #{vid,jdbcType=INTEGER},
      WE = #{we,jdbcType=INTEGER},
      LONGITUDE = #{longitude,jdbcType=INTEGER},
      NS = #{ns,jdbcType=INTEGER},
      LATITUDE = #{latitude,jdbcType=INTEGER},
      GPSTIME = #{gpstime,jdbcType=TIMESTAMP},
      ALTITUDE = #{altitude,jdbcType=INTEGER},
      SPEED = #{speed,jdbcType=INTEGER},
      DIRECT = #{direct,jdbcType=INTEGER},
      NUMBER = #{number,jdbcType=INTEGER},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP}
    where SN = #{sn,jdbcType=VARCHAR}
  </update>
</mapper>